@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}


body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: url(https://wallpapers.com/images/hd/snow-leopard-1jp91j131jm6afxz.jpg) no-repeat center center fixed;
    background-size: cover;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

h3 {
    font-size: 56px;
    font-weight: normal;
    color: #081d94;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 0 0 20px 0;
}

form {
    width: 650px;
    max-width: 700px;
    background-color: #a3cbe2;
    padding: 40px 40px;
    margin: 20px 0 20px 0;
    display: block;
    align-self: center;
    border-radius: 12px;
}

form .form-group {
    margin-top: 15px;
}

label:not([for="html"], [for="css"], [for="javascript"], [for="php"]) {
    display: block;
    margin-bottom: 8px;
}

[for="html"],
[for="css"],
[for="javascript"],
[for="php"] {
    margin-right: 25px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #69a1e9;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3a799e;
    color: rgb(226, 233, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4285f4;
}

.disclaimer {
    color: #ffffff;
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}

@media (max-width: 700px) {
    form {
        transform: none;
        width: 100%;
        padding: 30px 20px;
    }
}